<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>Periodicals</display-name>
    <listener>
        <listener-class>com.epam.Per1.listener.SessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.epam.Per1.listener.CustomServletRequestListener</listener-class>
    </listener>

    <error-page>
        <error-code>404</error-code>
        <location>/AppExceptionHandler</location>
    </error-page>

    <error-page>
        <exception-type>jakarta.servlet.ServletException</exception-type>
        <location>/AppExceptionHandler</location>
    </error-page>
</web-app>


